{
	auto_https disable_redirects
	on_demand_tls {
		ask http://app:3000/internal/caddy/ask?token={$CADDY_ASK_TOKEN}
	}
}

:80 {
	reverse_proxy app:3000
}

https:// {
	tls internal {
		on_demand
	}
	reverse_proxy app:3000
}
